button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 0;
	border-color: $color__border-button;
	border-radius: 0;
	background: $orange;
	box-shadow: none;
	color: #fff;
	line-height: 1;
	padding: 0.7em 1.5em 0.6em;
	text-shadow: none;

	&:hover {
		border-color: $color__border-button-hover;

	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}