#pre-site-footer {
	border-top:2px solid $main_color;
	padding: 0 0 2em;
	text-align: center;
}

#pre-site-footer a {
	display:inline-block;
	background: $main_color;
	color:#fff;
	padding:0.5rem;
}

.site-footer::after {
	content: " ";
	height: 0;
	width: 0;
	margin: 0 0 2rem;
	
}

@media screen and (min-width: 600px) {

	#footer-widgets .widget {
		float:left;
		width:33%;
		padding:0 15px 0;
	}

}