//Mobile First

.menu-toggle {
	box-shadow: none;
	color: orange;
	background-color: transparent;
	border-width: 0;
	border-radius: 0;
	display: block;
	text-decoration: none;
	background: #ffffff;
	padding:.75rem 1rem;
	font-size: .85rem;
	border-bottom: 1px solid darkgray;
	font-weight: 700;
	float: none;
	width: 100%;
	text-align: left;
}

.main-navigation {
	text-transform: uppercase;
	
	a,
	li.current_page_item li a,
	li.current_page_parent li a  {
		color: darkslategrey;
	}
	
	li.current_page_parent a {
		color: darkgray;
	}
	
	a:hover,
	li.current_page_parent li.current_page_item a, 
	li.current_page_parent li a:hover, 
	li.current_page_parent a:hover {
		color: $orange;
	}
	
	ul {
		padding: 0;
		margin: 0;
		list-style: none;
		display: none;
		
		ul {
			padding-left: 2em;
			background-color: #f1f1f1;
			
			ul {
				background-color: #eaeaea;
			}
		}
		
		li {
			display: inline;
			
			a {
				display: block;
				text-decoration: none;
				background: #ffffff;
				padding:.75rem 1rem;
				font-size: .7rem;
				border-bottom: 1px solid darkgray;
				font-weight: 700;
			}	
			
		} // li		
	} // ul
} // .main-navigation

 .toggled ul {
	display: block;
}

@media screen and (min-width: 37em) {
	
	.menu-toggle {position: absolute; left: -9999em;}
	
	.main-navigation {
		text-align: center;
		background-color: #ffffff;
		border-bottom: 1px solid lightgray;
		box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.05);
		z-index: 99999;
		position: relative;

		ul {
			display: block;
			
			ul {
				position: absolute;
				padding-left: 0;
				left: -999em;
				box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
				display: block;
				border-top:2px solid $main_color;
				
				ul {
					left: -999em;
					position: absolute;
					z-index: 99999;
					display: block;				
				}
				
				li:hover > ul,
				li.focus > ul {
					left: 100%;
					top:-2px;
					border-top-color: $secondary_color;
				}
				
				li {
				
					a {
						display: block;
						width: 15em;
					}
				}
			}
			
			li {
				position: relative;
				text-align: left;
				display: inline-block;
				
				a {
					display: inline-block;
					border-bottom-width: 0;
					font-weight: 700;
					line-height: 2em;
				}
			}
			
			li:hover > ul,
			li.focus > ul {
				left: auto;
			}
		}
	}
}

.main-navigation ul li > a::after {
    content: ' ▾';
}

.main-navigation ul li > a:only-child::after {
    content: '';
}




.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

